{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}

{% block body %}
<div class="content">
    <div class="register-form">

        <form method="post">
            <h1>{% trans %}sign_in{% endtrans %}</h1>

            <div class="register-form-row">
                <label for="username">{% trans %}form.email{% endtrans %}</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>
            </div>

            <div class="register-form-row">
                <label for="password">{% trans %}form.password{% endtrans %}</label>
                <input type="password" name="_password" id="password" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn" type="submit">{% trans %}sign_in{% endtrans %}</button>


            <a href="{{ path('app_register') }}" class="sign-link">{% trans %}sign_up_text{% endtrans %}</a>

        </form>

    </div>
</div>
{% endblock %}
