{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block stylesheets %}
    <style>
        .notification-list {
            display: flex;
            flex-direction: column;
        }

        .notification {
            border-bottom: 1px solid #e5e7eb;
            padding: 24px;
            display: flex;
            justify-content: space-between;
            align-items: start;
            gap: 24px;
        }

        .notification i {
            padding: 8px;
            border-radius: 4px;
            background-color: var(--au-lait);
        }
        .notification-card {
            width: 100%;
            gap: 12px;
            display: flex;
            flex-direction: column;
        }

        .notification:last-child {
            border-bottom: none;
        }

        .notification-info {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .notification-info .notification-type {
            padding: 4px 12px;
            border-radius: 8px;
            text-transform: uppercase;
            color: #F0F0F0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .edit {
            background-color: var(--inkwell);
        }
        .buy {
            background-color: var(--lunar-eclipse);
        }
        .delete {
            background-color: #597B7E;
        }
        .create {
            background-color: #396e73;
        }

        .notification-title {
            font-weight: bold;
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="content">
        <h1>{% trans %}notifications{% endtrans %} 📬</h1>

        <div class="notification-list">
            {% for notification in notifications %}
                <div class="notification">
                    <i class="fa-solid fa-bell"></i>
                    <div class="notification-card">
                        <div class="notification-info">
                            {% set classes = {
                                'PRODUCT_UPDATED': 'edit',
                                'PRODUCT_BOUGHT': 'buy',
                                'PRODUCT_DELETED': 'delete',
                                'PRODUCT_CREATED': 'create'
                            } %}

                            {% set labels = {
                                'PRODUCT_UPDATED': 'edit_label'|trans,
                                'PRODUCT_BOUGHT': 'buy_label'|trans,
                                'PRODUCT_DELETED': 'delete_label'|trans,
                                'PRODUCT_CREATED': 'created_label'|trans
                            } %}

                            <div class="notification-type {{ classes[notification.label['type']]|default('default-class') }}">
                                {{ labels[notification.label['type']]|default('default_label'|trans) }}
                            </div>
                            <span>{{ notification.label['date']['date']|date('d F Y, H:i') }}</span>
                        </div>
                        <span class="notification-title">
                            {{ notification.label['title'] }}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="notification">
                    <span class="notification-title">{% trans %}no_notifications{% endtrans %}</span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
