:root {
    --inkwell: #2C3639;
    --lunar-eclipse: #3F4E4F;
    --creme-brulee: #A27B5B;
    --au-lait: #DCD7C9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--inkwell);
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
}

body {
    background-color: var(--au-lait);
}

h1 {
    font-size: 48px;
}
